<div style="width: 100%">
	<div class="projectHead" style="background-color: #87b822">
		<div class="wrap">
			<div class=" text left">
				<h2>Real Estate Status Today</h2>
				<img class="picture left" src="images/house_icon2.png" />
				<p>Select county and/or city you are interested in, to find out
					how many properties are available, how many of each property type
					are selling, and the today's price per sqft compared to last month
					in that area</p>
			</div>

			<div class="right">

				<div class="smallText">County</div>
				<div ng-controller="countyOptCtrl">
					<select class="dropdown" ng-model="selCountyObj"
						ng-change="onChange()" ng-options="x.county for x in countyObjs"></select>
				</div>
				<div class="smallText">City</div>
				<div ng-controller="cityOptCtrl">
					<select class="dropdown" ng-model="selCityObj"
						ng-change="onChange()" ng-options="x.city for x in cityObjs"></select>
				</div>
				<div ng-controller="viewCtrl">
					<a class="btn" ng-click="onClick()">Update Charts</a>
				</div>
				<div ng-controller="selAreaRptCtrl"></div>
				<div ng-controller="mlsDailyRptCtrl"></div>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
	<div ng-controller="dailyCompareCtrl">
		<section class="wrap chartAreaDefault">
			<div class="chart left" ng-controller="mlsDailyRptPieCtrl">
				<canvas width="440" height="300" tc-chartjs-pie chart-data="myData"
					chart-options="myOptions" chart-click="onChartClick(event)"></canvas>

			</div>
			<div class="about flRight">
				<h2 class="subHead">Property Type Pie Chart</h2>
				<p>
					Total Available Listings: <a class="num">{{sampleSize}}</a>
				</p>
				<p>This pie chart details the composition of property types of
					the real estate market in a selected area. Click on the pie chart
					to see the number of each property type.</p>
			</div>
			<div style="clear: both"></div>

		</section>

		<section class="wrap chartAreaGreen">
			<div class="about flLeft" width="440" height="300">
				<p class="subHead">Average Price Per Structure Sqft</p>
				<div class="left">
					<p>
						Today: <a class="num">${{priceStructToday}}</a>
					</p>
					<p>
						Last Month: <a class="num">${{priceStructLast}}</a>
					</p>
					<p>
						Change: <span
							ng-class="{'priceUp': priceStructDiff > 0, 'priceDown': priceStructDiff <= 0}">${{priceStructDiff}}</span>
					</p>
				</div>
				<div class="about right">
					<img class="img"
						ng-src="{{priceStructDiff > 0  && 'images/up.png' || 'images/down.png'}}" />
				</div>
			</div>
		</section>
	</div>
</div>

<ng-include src="'pages/footer.html'"></ng-include>

