<div style="width: 100%">
	<div class="projectHead" style="background-color: #9999ff">
		<div class="wrap">
			<div class=" text left">
				<h2>Real Estate Trends in History</h2>
				<img class="picture left" src="images/house_icon1.png" />
				<p>Select county, city, zipcode or property type you are
					interested in, to find out the real estate trends since 2010,
					through the measure of both "price per structure sqft" and "price
					per total sqft"</p>

			</div>

			<div class="right">

				<div class="smallText">County</div>
				<div ng-controller="countyOptCtrl">
					<select class="dropdown" ng-model="selCountyObj"
						ng-change="onChange()" ng-options="x.county for x in countyObjs"></select>
				</div>
				<div class="smallText">City</div>
				<div ng-controller="cityOptCtrl">
					<select class="dropdown" ng-model="selCityObj"
						ng-change="onChange()" ng-options="x.city for x in cityObjs"></select>
				</div>
				<div class="smallText">Zipcode</div>
				<div ng-controller="zipcodeOptCtrl">
					<select class="dropdown" ng-model="selZipcodeObj"
						ng-mouseenter="onEnter()" ng-change="onChange()"
						ng-options="x.zipcode for x in zipcodeObjs"></select>
				</div>
				<div class="smallText">Property Type</div>
				<div ng-controller="propTypeOptCtrl">
					<select class="dropdown" ng-model="selpropTypeObj"
						ng-mouseenter="onEnter()" ng-change="onChange()"
						ng-options="x.type for x in propTypeObjs"></select>
				</div>
				<div ng-controller="viewCtrl">
					<a class="btn" ng-click="onClick()">Update Charts</a>
				</div>

			</div>
			<div style="clear: both"></div>
		</div>
	</div>
	<div class="wrap chartAreaDefault">
		<div ng-controller="selAreaRptCtrl"></div>
		<div class="chart left" ng-controller="selAreaStructSqftLineCtrl">
			<div class="wrap">
				<canvas width="440" height="300" tc-chartjs-line chart-data="myData"
					chart-options="myOptions" chart-click="onChartClick(event)"></canvas>
			</div>
		</div>
		<div class="about flRight">
			<h2 class="subHead">Price Per Structure Sqft</h2>
			<p>By calculating price per sqft, we could analyze various types
				of properties on the same scale, regardless of their size. Click on
				the line chart to check the sampled month and price data</p>
		</div>
	</div>
	<div class="wrap chartAreaPurple">
		<div class="chart right" ng-controller="selAreaTotSqftLineCtrl">
			<div class="wrap">
				<canvas width="440" height="300" tc-chartjs-line chart-data="myData"
					chart-options="myOptions" chart-click="onChartClick(event)"></canvas>
			</div>
		</div>
		<div class="about flLeft">
			<h2 class="subHead">Price Per Total Sqft</h2>
			<p>In complement to Price Per Structure Sqft chart above, Price
				Per Total Sqft chart includes the factor of lot size on a property.
				Click on the line chart to check the sampled month and price data</p>
		</div>
	</div>

	<ng-include src="'pages/footer.html'"></ng-include>
</div>