<div style="width: 100%">
	<div class="projectHead" style="background-color: #87b822">
		<div class="wrap">
			<div class="left">
				<h2>Real Estate Trends</h2>
				<img class="picture left" src="images/house_icon2.png" />
				<p>Select county, city or zipcode you are interested in</p>

			</div>

			<div class="right">

				<div class="smallText">County</div>
				<div ng-controller="countyOptCtrl">
					<select class="dropdown" ng-model="selCountyObj"
						ng-change="onChange()" ng-options="x.county for x in countyObjs"></select>
				</div>
				<div class="smallText">City</div>
				<div ng-controller="cityOptCtrl">
					<select class="dropdown" ng-model="selCityObj"
						ng-change="onChange()" ng-options="x.city for x in cityObjs"></select>
				</div>
				<div ng-controller="viewCtrl">
					<a class="btn" ng-click="onClick()">Update Charts</a>
				</div>
				<div ng-controller="mlsDailyRptCtrl"></div>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
	<div class="wrap chartAreaDefault">
		<div class="chart right" ng-controller="mlsDailyRptPieCtrl">
			<div class="wrap">
				<canvas width="440" height="300" tc-chartjs-pie chart-data="myData"
					chart-options="myOptions" chart-click="onChartClick(event)"></canvas>
			</div>
		</div>
	</div>

	<ng-include src="'pages/footer.html'"></ng-include>
</div>